!!!
%html{:lang => "en"}
  %head
    %title Smartfl
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="Stylesheet" type="text/css" charset="utf-8" href="/stylesheets/reset.css" media="all")
    %link(rel="Stylesheet" type="text/css" charset="utf-8" href="/stylesheets/base.css" media="all")
    %script(src="/javascripts/modernizr-1.5.min.js")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    %script(src="/javascripts/application.js")
  %body
    %header
    #main
      = yield
